body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.app-container {
  width: 552px;
  margin: 0 auto;
  background-color: #f5f6fa;
  border-inline: 3px solid #e1e8f0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

/* Header styles */
.header-container {
  margin-top: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  height: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
  border-bottom: 3px solid #e1e8f0;
  background-color: none;
}

.header-title {
  color: #3498db;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: text-decoration 0.5s ease-in-out;
  margin: 0;
}

.header-title:hover {
  text-decoration: underline;
}

.header-label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.9em;
  color: #7f8c8d;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 0;
  text-align: center;
  margin: 0 auto;
}

/* Login form styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: monospace;
}

.form-input,
.form-button {
  width: 400px;
  height: 40px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input {
  text-align: center;
  background-color: #ffffff;
  color: #2c3e50;
}

.form-button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border: 1px solid #2980b9;
  transition: all 0.8s ease;
}

.form-button:hover {
  background-color: #2980b9;
}

/* Page styles */
.page-style {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.admin-user-content {
  margin-top: 20px;
  text-align: center;
}

.home-page-style {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}