body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #242424;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.app-container {
  width: 552px;
  margin: 0 auto;
  background-color: #242424;
  border-inline: 1px solid white;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* - - - - - - - - HEADER - - - - - - - - */
.header-container {
  margin-top: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  height: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

.header-title {
  color: rgb(175, 175, 175);
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: text-decoration 0.5s ease-in-out;
  margin: 0;
}

.header-title:hover {
  text-decoration: underline;
}

.header-label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.9em; /* Adjusted for spacing balance */
  color: rgb(150, 150, 150);
  text-transform: uppercase;
  width: 100%; /* Matches the container width */
  box-sizing: border-box;
  padding: 4px 0; /* Padding for spacing */
  text-align: center; /* Ensures proper centering */
  margin: 0 auto; /* Centers within the parent container */
}
/* - - - - - - - LOGIN FORM - - - - - - - */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: monospace;
}

.form-input,
.form-button {
  width: 400px;
  height: 40px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input {
  text-align: center;
  background-color: #131212;
}

.form-button {
  background-color: #494b4d;
  color: white;
  border: none;
  cursor: pointer;
  border: 1px solid white;
  transition: all 0.8s ease;
}

.form-button:hover {
  background-color: #131212;
}


/* - - - - - - - - PAGE STYLE - - - - - - - - */
.page-style {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.admin-user-content {
  margin-top: 20px;
  text-align: center;
}

.home-page-style {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}