.admin-dashboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    border-bottom: 1px solid white;
    width: 552px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .admin-dashboard-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(50, 50, 50);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-dashboard-button:hover {
    background-color: rgb(80, 80, 80);
    opacity: 0.8;
  }
  
  .admin-content {
    margin-top: 20px;
    text-align: center;
  }
  
  .admin-component-placeholder {
    font-size: 18px;
    font-weight: bold;
    color: rgb(150, 150, 150);
  }


/* List styles */
/* List Container */
.list-container {
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 450px;
  margin: 0 auto;
}

/* List Title */
.list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* List Card */
.list-card {
  background-color: rgb(50, 50, 50);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: left;
  border: 1px solid white;
}

.list-card-name, .list-card-role {
  margin: 5px 0;
  font-size: 16px;
}